*, ::before, ::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}


/* Header */
header{
  position: relative;
}

.jumbotron{
  background: url('./components/assets/jumbo.jpg');
  height: 660px;
}

.menu {
  position: absolute;
  left: 50vw;
}

.menu__link {
  display: flex;
  justify-content: space-between
}

.menu__page{
  display: flex;
}